<div class="page">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button routerLink="./create-room">Create Room</button>
    <button *ngIf="loggedUsername == ''" mat-button routerLink="./login">Login</button>
    <span *ngIf="loggedUsername != ''">Hi, {{loggedUsername}}</span>
    <button *ngIf="loggedUsername != ''" mat-button (click)="logOut()">Log out</button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <div class=main-container>
    <router-outlet></router-outlet>
  </div>
</div>
