.example-spacer {
  flex: 1 1 auto;
}

.main-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
