<div class=main-container>
  <h1>Login</h1>
  <form>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput placeholder="user@email.com" [formControl]="emailControl">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordControl">
        <button type='button' mat-icon-button matSuffix (click)="hideClicked()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </p>
    <p>
      <button type='button' mat-button (click)="submitForm()" [disabled]="isSubmitButtonDisabled()">Submit</button>
    </p>
  </form>
</div>
