<div class=main-container>
  <h1>Create a room</h1>
  <form>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Room #15" [formControl]="nameControl">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Description</mat-label>
        <textarea matInput [formControl]="descriptionControl" placeholder="A nice place to rest"></textarea>
      </mat-form-field>
    </p>
    <p>
      <button type='button' mat-button (click)="submitForm()" [disabled]="isSubmitButtonDisabled()">Submit</button>
    </p>
  </form>
</div>
